.registerBtn{
  margin-top: 150px;
  display: flex;
  justify-content:center;

}

.btn-register {
  border-radius: 40px;
  height: 70px;
  border: 0;
  font-size: 30px;
  color: #d9cece;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(to left, rgb(255, 140, 0), rgb(255, 51, 0));
}

.btn-register:hover {
  color: white;
  box-shadow: 0 0 15px;
  background-image: linear-gradient(to right, rgb(255, 140, 0), rgb(255, 51, 0));
  transition-duration: 0.4s;
}
