/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url("../src/Img/people-2562102_1920.jpg");
  background-size: cover;
  font-family: 'Poppins', sans-serif;

}


