nav{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: inherit;
}
.navbar-brand {
  font-size: 35px;
  color: white; //later what is the background color
}

.btn-login {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 4px;
  white-space: nowrap;
  }

.btn-login:hover {
    background: rgba(255, 48, 229, 1);
    color: white;
  }
