nav{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: inherit;

}

.navbar-brand {
  font-size: 35px;
  color: white; //later what is the background color
  font-family: 'Poppins', sans-serif;
}

.btn-login {
  //background-color: white;
  background-image: linear-gradient(to left, rgb(255, 140, 0), rgb(255, 51, 0));
  border: 0;
  color: #d9cece;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 40px;
  white-space: nowrap;
}

.btn-login:hover {
    color: white;
    box-shadow: 0 0 15px;
    background-image: linear-gradient(to right, rgb(255, 140, 0), rgb(255, 51, 0));
    transition-duration: 0.4s;
  }

.modal-header {
  justify-content: center;
  border: none;
}

.modal-body {
 // background-color: #B993D6;
  border: none;
}
